/* Global styles */
:root {
    --background: #1e1e2e;
    --background-light: #FFFFFF;
    --button: #78c2ad;
    --text: #FFF6F1;
    --text-light: #1e1e2e;
    --text-link-light: #6265b4;
    --underline: #375a7f;
    --header: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    --body: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
    background-color: var(--background);
    color: var(--text);
}

html.light {
    background-color: var(--background-light);
    color: var(--text-light);
}

body {
    max-width: 47rem;
    margin: auto;
    padding: 1.5rem 1.45rem;
}

h1,
h2 {
    font-family: var(--header);
    font-weight: normal;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 5px;
}

h2 {
    margin-bottom: 0;
    font-weight: normal;
}

h3 {
    font-family: sans-serif;
}

p {
    font-family: var(--body);
    font-size: 1.1rem;
    line-height: 1.5;
}

a {
    color: var(--text);
}

html.light a {
    color: var(--text-link-light);
}

/* For inline code */
code {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.9em;
}

small,
li {
    font-family: var(--body);
}

/* Header Content (image, title, bio) */

.header-content {
    display: flex;
    flex-direction: row;
    margin-top: 4.2rem;
}

.home-title {
    font-weight: 700;
    letter-spacing: -.05em;
    align-self: center;
}

.header-title-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-img {
    width: 100%;
    max-width: 400px;
    height: auto;
    /* Maintains the aspect ratio */
    display: block;
    /* Ensures no inline spacing issues */
    margin: 0 auto;
}

/* Social Links */

.social-links {
    margin-top: 20px;
}

.social-list-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    /* Adjust spacing between icons as needed */
    justify-content: flex-start;
}

.icon-link {
    text-decoration: none;
    color: var(--text);
    display: flex;
    align-items: center;
    gap: 8px;
}

html.light .icon-link {
    color: var(--text-light);
}

.icon-btn:hover {
    transform: scale(1.1);
    /* Slightly expand on hover */
    text-decoration: underline;
    text-decoration-color: #A562AF;
}

.social-icon {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.social-icon::before {
    margin-right: 8px;
}

.git-icon::before {
    content: url('/github-icon-white.svg');
}

.linkedin-icon::before {
    content: url('/linkedin-icon-white.svg');
}

html.light .git-icon::before {
    content: url('/github-icon-black.svg');
}

html.light .linkedin-icon::before {
    content: url('/linkedin-icon-black.svg');
}

@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: center;
    }

    .header-title-links {
        flex-direction: column;
        display: flex;
        /* align-items: center; */
    }
}

/* Navigation Bar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    width: 100%;
}

.navbar__menu {
    font-family: var(--body);
    font-size: 1.1rem;
    flex: 1;
}

.navbar__menu>a {
    /* fetching light/dark theme colour */
    color: var(--text);
}

@keyframes loadAnimation {
    0% {
        clip-path: inset(100% 0 0 0);
    }

    100% {
        clip-path: inset(0 0 0 0);
        opacity: 1;
    }
}

/* Blog Post Cards */

.card {
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 4px 8px var(--background-light);
    padding: 1rem;
    transition: transform 0.2s;
    list-style: none;
}

html.light .card {
    background: var(--background-light);
    box-shadow: 0 4px 8px #F56F7E;
}

.card:hover {
    transform: translateY(-5px);
}

html.light .card a {
    text-decoration: none;
    color: var(--text-light);
}

.card a {
    text-decoration: none;
    color: var(--text);
}

.tags {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tags span {
    background-color: #cd3d84;
    color: #FFFFFF;
    border-radius: 0.25rem;
    font-size: .75rem;
    padding: 0.25rem 0.5rem;
    margin-right: 5px;
}

/* Footer */

footer {
    margin: 4rem 0;
}

.footer-list-items {
    cursor: default;
    list-style: none;
    padding: 0;
}

.footer-container {
    text-align: center;
}

.footer-link {
    color: var(--text);
}

html.light .footer-link {
    color: var(--text-link-light);
}

/* Theme Icon */

.light .navbar__menu>a {
    color: var(--text-light);
}

.light .card__title {
    color: var(--text-light);
}

.light .card__txt {
    color: var(--text-light);
}

.light .btn {
    color: var(--text-light);
}

.light .btn:hover {
    color: var(--text);
}

/* Carbon Badge */

#wcb_g {
    color: var(--text-link-light);
    border-color: var(--text-link-light) !important;
    background-color: var(--background-light) !important;
}

#wcb.wcb-d #wcb_a {
    background: var(--text-link-light) !important;
    color: var(--background-light) !important;
    border-color: var(--text-link-light) !important;
}

html.light #wcb.wcb-d #wcb_2 {
    color: var(--text-link-light) !important;
}

/* Media Query */
@media only screen and (max-width: 600px) {
    .navbar__menu {
        text-align: center;
        flex: unset;
    }

    .navbar__menu>a {
        margin: 0 11px;
    }
    
    .social-list-items {
        justify-content: center;
    }
}