---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout title={`About | Dani Subject`} showTitle={false}>
	<section>
    <div class="header-content">
      <div class="header-title-links">
        <h1 class="home-title">Dani Subject, developer and sustainable web advocate</h1>
        <div class="social-links">
          <ul class="social-list-items">
            <li class="icon-btn">
              <a class="icon-link" href="https://github.com/dsubject" target="_blank">
                <span class="social-icon git-icon">GitHub</span>
              </a>
            </li>
            <li class="icon-btn">
              <a class="icon-link" href="https://linkedin.com/in/danielle-subject" target="_blank">
                <span class="social-icon linkedin-icon">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <picture>
        <source srcset="/cropped-cartoon-2-tinied.webp" type="image/webp">
        <source srcset="/cropped-cartoon-2-tinied.png" type="image/png">
        <img class="landing-img" loading="lazy" alt="Cartoon image of a woman sitting with her dog on a bench" src="/cropped-cartoon-2-tinied.png" />
      </picture>
    </div>

    <h2>Software Developer | Environmentalist 🌱</h2>

    <p>
      Hello! 👋 My name is Dani, and I'm an English major turned software developer. I've been developing for over 6 years, 
      having worked in start-ups and currently consulting at a larger corporation. Due to the nature of consulting, I've had the 
      opportunity to develop a wide variety of applications, from web to iOS and Android.
    </p>

    <p>
      However, I'll always be a JavaScript developer at heart. I've worked with multiple frameworks, including Angular and React, but I don't believe in limiting myself to one framework. 
      Part of being a sustainable developer is knowing how to pick the right technology for the job. Sometimes, all you need is a static site to do the trick.
    </p>

    <hr />

    <p>
      Outside of work, I'm actively involved in community garden planting, and you may have seen some photos of me with beehives. 
      Naturally, my love for the planet has found its way into my work as a coder.
    </p>

    <p>
      I believe that sustainable digital products are the future. As developers, we have a responsibility to reduce our digital footprint by writing code that is efficient, clean, and maintainable. 
      Building applications that minimize energy usage on our users' devices, reduce the digital world's carbon footprint, and remain reliable even when the grid or network is down is crucial.
	    <i><b>None of this matters if we don't have a planet to stand on.</b></i>
    </p>

    <hr />

    <h3>🌍 Let's Connect!</h3>
    <ul>
      <li><a href="https://www.linkedin.com/in/danielle-subject" target="_blank">LinkedIn</a></li>
      <li><a href="https://dev.to/danisubject" target="_blank">Dev.to</a></li>
      <li><a href="https://github.com/dsubject" target="_blank">GitHub</a></li>
    </ul>

  </section>

  <style>
    section {
      font-family: sans-serif;
    }

    @media (max-width: 600px) {
      h1 {
        text-align: center;
      }
    }
  </style>

</Layout>
