---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title={`About Me`} showTitle={false}>
	<section>
    <div class="header-content">
      <div class="header-title-links">
        <h1 class="home-title">Dani Subject, developer and sustainable web advocate</h1>
        <div class="social-links">
          <ul class="social-list-items">
            <li class="icon-btn">
              <a class="icon-link" href="https://github.com/dsubject" target="_blank">
                <span class="social-icon git-icon">GitHub</span>
              </a>
            </li>
            <li class="icon-btn">
              <a class="icon-link" href="https://linkedin.com/in/danielle-subject" target="_blank">
                <span class="social-icon linkedin-icon">LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <picture>
        <source srcset="/cropped-cartoon-2-tinied.webp" type="image/webp">
        <source srcset="/cropped-cartoon-2-tinied.png" type="image/png">
        <img class="landing-img" loading="lazy" alt="Cartoon image of a woman sitting with her dog on a bench" src="/cropped-cartoon-2-tinied.png" />
      </picture>
    </div>

    <h2>Software Developer | Environmentalist 🌱</h2>

    <p>
      Hello! 👋 My name is Dani, and I'm an English major turned software developer. I've been a developer for over 7 years, 
      having worked in start-ups and currently consulting at a larger corporation. Due to the nature of consulting, I've had the 
      opportunity to develop a wide variety of applications, from web to iOS and Android.
    </p>

    <p>
      As a developer who cares about my impact on the planet, I believe sustainable code matters. My focus is on staying up-to-date with sustainability best practices and educating other developers in the hope of building a digital future we can be proud of. 
      Building applications that minimize energy usage on our users' devices, reduce the digital world's carbon footprint, and remain reliable even when the grid or network is down is crucial.
    </p>

    <hr />

  </section>

  <style>
    section {
      font-family: sans-serif;
    }

    @media (max-width: 600px) {
      h1 {
        text-align: center;
      }
    }
  </style>

</Layout>