---
const year = new Date().getFullYear();
---
<footer>
    <div class="footer-container">
        <small>&copy; {year} Coded by Dani Subject. All Rights Reserved. <a class="footer-link" href="https://github.com/dsubject/dani-astro-portfolio-blog" aria-label="See the source code in Github" target="_blank">View source code.</small>
    </div>
</footer>