---
import HeaderLink from './HeaderLink.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<div class="navbar nav-links">
    <div class="navbar__menu">
        <div class="header-link-container">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/about">About</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
        </div>
        <ThemeIcon />
    </div>
</div>