---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, showTitle } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				max-width: 100%;
				margin: 0;
			}
			h1 {
				font-size: 2rem;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						{showTitle && <h1>{title}</h1>} <!-- Conditionally render title -->
						{pubDate && <p>Published on: {new Date(pubDate).toLocaleDateString()}</p>}
						{showTitle && <hr />} <!-- Conditionally render hr -->
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
