---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="Astro description">
        <meta name="viewport" content="width=device-width" />

        <!-- Open Graph Meta Tags -->
        <meta property="og:title" content="Dani Subject">
        <meta property="og:description" content="Dani Subject's portfolio and blog - showcasing sustainable web development insights and tips for efficient coding. Follow for expert advice and personal stories from the tech industry.">
        <meta property="og:image" content="/site-favicon-tinied.png">
        <meta property="og:url" content="https://daniellesubject.com">
        <meta property="og:type" content="website">
        <link rel="icon" type="image/png" href="https://daniellesubject.com/link-preview-tinied.png" />

        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ViewTransitions />
	</head>
	<body>
        <Header />
        <main>
	    <slot />
        </main>
        <Footer />
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
        <script>
            const hamburger = document.querySelector('.hamburger');
            const navLinks = document.querySelector('.nav-links');

            if (hamburger && navLinks) {
                hamburger.addEventListener('click', () => {
                navLinks.classList.toggle('expanded');
                });
            }
        </script>
	</body>

</html>

