---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
const { pageTitle } = Astro.props;
---
<!DOCTYPE html>
<html transition:animate="none" lang="en">
	<head>
        <meta charset="utf-8" />
        <meta name="description" content="Astro description">
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/site-favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ViewTransitions />
	</head>
	<body>
        <Header />
        <main>
	    <slot />
        </main>
        <Footer />
        <div id="wcb" class="carbonbadge wcb-d"></div>
        <script src="https://unpkg.com/website-carbon-badges@1.1.3/b.min.js" defer></script>
	</body>
</html>

